.root{
    -fx-font-family: "Courier";
    -fx-background: #313131;
}

Text {
    -fx-font-family: "Courier";
}

.table-view {
    -fx-background-color: #313131;
    -fx-table-cell-border-color: transparent;
    -fx-control-inner-background: #313131;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: #212121;
}